<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<table border="1">
    <caption>Table</caption>
    <tr>
        <th> Collor</th>
        <th> Model</th>
        <th> Cost</th>
    </tr>

    <tr th:each="car:${printCar}">

        <td th:text="${car.collor}"> Collor</td>
        <td th:text="${car.model}"> Model</td>
        <td th:text="${car.cost}"> Cost</td>
    </tr>
</table>
</body>
</html>